langchain
python-dotenv
langchain_community
ipykernel
pypdf
bs4
wikipedia
arxiv
pymupdf
langchain-text-splitters
sentence_transformers
sentence-transformers
langchain_huggingface
pytz
faiss-cpu
langchain_chroma
streamlit
protobuf<5.0.0,>=3.20.3
numpy<2.0.0,>=1.23.5
pyparsing>=2.3.1
langchain
langchain_groq
langchain_core
fastapi
uvicorn
langserve
langchain_core
arxiv
wikipedia
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
langchain_huggingface
huggingface_hub